# AWS S3 Configuration
AWS_REGION=us-east-2                # The region where your S3 bucket is located
AWS_ACCESS_KEY_ID=your_access_key    # Your AWS Access Key ID
AWS_SECRET_ACCESS_KEY=your_secret_key# Your AWS Secret Access Key
AWS_BUCKET_NAME=your_bucket_name     # The name of your S3 bucket
