/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../assets/login_background.jpg');
    font-family: 'Numans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register-panel {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-radius: 10%;
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.companyLogo span {
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.admin-switch {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-switch input {
    width: 20px;
    margin-right: 10px;
}

.register-panel-header h1 {
    color: white;
}

.register-panel-footer {
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.register-panel-footer a {
    color: white;
}

.register-panel-body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.companyLogo {
    width: 300px;
    padding-left: 40%;
    margin-bottom: -100px;
    /* padding-right: 10%; */

    /* position: absolute; */
    /* right: 530px; */
    /* bottom: 150px; */
}

.register-input-group-icon {
    width: 34px;
    height: 34px;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
    margin-bottom: -11px;
}

.register-input-group-set {
    height: 60px;
}

input {
    height: 30px;
    width: 250px;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.register_btn {
    color: black;
    background-color: #FFC312;
    width: 130px;
    height: 40px;
    padding: 5px;
    font-weight: bold;
}

.register_btn:hover {
    color: black;
    background-color: white;
}