.progress-indicator {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px 0px;

  }
  
  .step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #eee; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    cursor: pointer;
  }
  
  .step.active .step-number {
    background-color: #007bff;
    color: #fff;
  }
  
  .step-content {
      display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width:200px;
  }
  
  .step-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #eee;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .step-label {
    font-size: 14px;
    color: #333;
  }
  
  